<div id="background">
	<h2>Execution</h2>
	<div *ngIf="(templates | async) as templatesF" class="col-sm-3">
		<h3>Templates</h3>
		<div *ngIf="(error != 'none') && (error != null) && !executing" class="alert alert-danger">Error occured please check console for further information</div>
		<div *ngIf="(error == 'none') && !executing" class="alert alert-success">Execution was successfully</div>
		<div *ngIf="executing" class="alert alert-info">Execution in progress...</div>
		<select #group ngModel class="form-control" (change)="getGroup(group.value)">
			<option *ngFor="let template of templatesF" value="{{template.id}}">{{template.groupName}}</option>
		</select><br>
		<div *ngIf="(templateData | async) as tempData">
			<div *ngIf="tempData.templates.length > 0">
				<h3>Version</h3>
				<select #selectedTemplate ngModel="{{tempData.group.defaultVersion}}" class="form-control">
					<option *ngFor="let item of tempData.templates" value="{{item.version}}">{{item.version}} - {{item.name}}</option>
				</select><br>
				<input type="file" #file placeholder="Choose template" (change)="saveDataFile(file.files)">
				<button class="btn btn-info" (click)="file.click()">Upload data file</button><br>
				<div *ngIf="!choosen && clicked" class="alert alert-danger">Data file not choosen.</div>
				<button class="btn btn-success" (click)="generate(selectedTemplate.value)">Generate files</button>
			</div>
			<div *ngIf="tempData.templates.length == 0" class="alert alert-danger">No avaible version for this template group</div>
		</div>
	</div>
</div>