<h2>Execution</h2>
<div *ngIf="(templates | async) as templatesF" class="col-md-3">
	<h3>Templates</h3>
	<div *ngIf="(error != 'none') && (error != null)" class="alert alert-danger">Error occured please check console for further information</div>
	<div *ngIf="error == 'none'" class="alert alert-success">Execution was successfully</div>
	<select #group ngModel class="btn btn-primary" (change)="getGroup(group.value)">
		<option *ngFor="let template of templatesF" value="{{template.id}}">{{template.groupName}}</option>
	</select><br>
	<div *ngIf="(templateData | async) as tempData">
		<h3>Version</h3>
		<select #selectedTemplate ngModel="{{tempData.group.defaultVersion}}" class="btn btn-primary">
			<option *ngFor="let item of tempData.templates" value="{{item.version}}">{{item.version}} - {{item.name}}</option>
		</select><br>
		<input type="file" #file placeholder="Choose template" (change)="saveDataFile(file.files)">
		<button class="btn btn-primary" (click)="file.click()">Upload data file</button><br>
		<div *ngIf="!choosen && clicked" class="alert alert-danger">Data file not choosen.</div>
		<button class="btn btn-primary" (click)="generate(selectedTemplate.value)">Generate files</button>
	</div>
</div>