::placeholder{
    color:#b8cbd3;
}

.btn-primary{
    background: #496a7a;
    border-color: #6992a5;
}

.form-control{
    background: #496a7a;
    color: aliceblue;
    border-color: #b8cbd3;
}

.main-back{
    background-color: #d9e3e8;
    height: 100vh;
}

a{
    text-decoration: none;
}