<h2>Maintain Templates</h2>
<br/>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Latest Version</th>
			<th>Version in use</th>
			<th>Number of files</th>
			<th>Modify</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let group of groups">
			<td>{{ group.groupName }}</td>
			<td>{{ group.description }}</td>
			<td>{{ group.latestVersion }}</td>
			<td>{{ group.usedVersion }}</td>
			<td>{{ group.fileNumber }}</td>
			<td><a class="btn btn-primary" routerLink="/templates/edit/{{group.id}}">Edit</a><a class="btn btn-danger" (click)="deleteGroup(group.id)">Delete</a></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><a class="btn btn-success" routerLink="/templates/create/0">Create User</a></td>
		</tr>
	</tfoot>
</table>