@import "./../../styles.css";

input,div{
	margin-bottom: 10px;
}

label{
	margin-bottom: 10px;
}

h5{
	margin: 0;
}

button{
	margin-right: 0;
}

#button-holder{
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.back{
	margin-top: 10px;
	margin-bottom: 10px;
}