<div class='main-nav col-sm-2'>
    <ul id="main-ul">
        <li>
            <h2><i class="fa fa-user-o main-icons"></i> User</h2>
            <ul>
                <li><a routerLink="/"><h5><i class="fa fa-id-card-o"></i> Personal settings</h5></a></li>
                <li><a routerLink="/"><h5><i class="fa fa-file-word-o"></i> &nbsp;Handle templates</h5></a></li>
                <li><a routerLink="/"><h5><i class="fa fa-file-code-o"></i> &nbsp;Executions</h5></a></li>
            </ul>
        </li> 
        <li *ngIf="role=='admin'">
            <h2><i class="fa fa-user main-icons"></i> Admin</h2>
            <ul>
                <li><a routerLink="/users"><h5><i class="fa fa-address-book"></i> &nbsp;Maintain users</h5></a></li>
            </ul>
        </li> 
	</ul>
    <div id="infos"><a id="logout" (click)="logOut()"><h5>Logout</h5></a></div>
</div>
