<h1>Welcome {{user.nativeName}}!</h1>
<h2>Handbook</h2>
<p>Handbook will show you the utilisation of this templatehandler service.</p>
<h2><i class="fa fa-user-o main-icons"></i> User</h2>
<p>You will be able to interact with the service under the user menu</p>
<ul>
    <li>
      <a routerLink="/user/edit/{{user.id}}"><h5><i class="fa fa-id-card-o"></i> Personal settings</h5></a>
      <p>Under this option you will be able to change your personal user data, like name, email or password.</p>
    </li>
    <li>
      <a routerLink="/"><h5><i class="fa fa-file-word-o"></i> &nbsp;Handle templates</h5></a>
      <p>Under this option you will be able to maintain the templates which are visible to you, you can remove, update, upload template types.</p>
    </li>
    <li>
      <a routerLink="/"><h5><i class="fa fa-file-code-o"></i> &nbsp;Executions</h5></a>
      <p>Under this option you will be able to make complete files from template and data file, you can upload the data file and choose the template you want.</p>
    </li>
</ul>
